@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('../fonts/OpenSans-Regular');
}
body {
	background-image: url('../img/background.png');
	background-position: center center;
	background-repeat: no-repeat;
	font-family: 'Open Sans', sans-serif;
}
.logo {
	background-color: rgba(255,255,255,0.9);
	padding: 30px;
	border-radius: 15px;
}
.quiz {
	background-color: rgba(255,255,255,0.9);
	padding: 10px 0 1% 10px;
	margin-top: 10px;
	margin-left: 595px;
	margin-right: 595px;
	border-radius: 15px;
}
.submit {
	margin-left: 45%;
	width: 80px;
	height: 30px;
}

.phpLogo {
	background-position: center 29%;

}